.tribe-events-calendar-month__calendar-event-title-link {
    pointer-events: none;
}
.tribe-events-calendar-list__event-title-link {
    pointer-events: none;
}
.tribe-events-calendar-day__event-title-link {
    pointer-events: none;
}
.tribe-events-pro-photo__event-title-link {
    pointer-events: none;
}
.tribe-events-pro-week-grid__event-link {
    pointer-events: none;
}
.tribe-events-pro-map__event-card-button {
    pointer-events: none;
}